@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    // Colors
    --primary-color: #ff0000;
    --white-color: #fff;
    --black-color: #000;
    --general-background-color: #f9f9f9;

    // Text colors
    --text-primary-color: #030303;

    // Scrollbar colors
    --main-srcollbar-thumb-color: #555;
    --main-scrollbar-thumb-hover-color: #888;

    // Header colors
    --header-background-color: rgba(255, 255, 255, 0.98);

    // Search colors
    --searchbox-box-shadow-color: #eee;
    --searchbox-border-color: #ccc;
    --searchbox-text-color: #111;
    --searchbox-button-border-color: #d3d3d3;
    --searchbox-button-color: #f8f8f8;
    --searchbox-button-hover-border-color: #c6c6c6;
    --searchbox-button-hover-color: #f0f0f0;

    // Fonts
    --font-family: 'Roboto', 'Arial', sans-serif;

    // Default Layout
    --default-layout-header-height: 56px;
    --default-layout-header-horizontal-spacer: 16px;
    --sidebar-width: 240px;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: var(--font-family);
    box-sizing: border-box;
}

body {
    font-size: 1.4rem;
    line-height: 2rem;
    text-rendering: optimizeSpeed;
    color: var(--text-primary-color);
}

a {
    color: var(--text-primary-color);
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
select,
textarea {
    outline: none;
    font-family: var(--font-family);
    font-size: 1.4rem;
}

input {
    line-height: normal;
}

button {
    cursor: pointer;
}

// Scrollbar
html::-webkit-scrollbar {
    width: 14px;
}

html::-webkit-scrollbar-track {
    background-color: var(--general-background-color);
}

html::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: var(--main-srcollbar-thumb-color);
}

html::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-scrollbar-thumb-hover-color);
}
