.wrapper {
    --header-background-color: rgba(255, 255, 255, 0.98);

    --searchbox-box-shadow-color: #eee;
    --searchbox-border-color: #ccc;
    --searchbox-text-color: #111111;
    --searchbox-button-border-color: #d3d3d3;
    --searchbox-button-color: #f8f8f8;
    --searchbox-button-hover-border-color: #c6c6c6;
    --searchbox-button-hover-color: #f0f0f0;

    --header-action-active-color: rgba(3, 3, 3, 0.1);
    --header-badge-background-color: #c00;

    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: var(--header-background-color);
}

.inner {
    display: flex;
    justify-content: space-between;
    height: var(--default-layout-header-height);
    width: 100%;
    padding: 0 var(--default-layout-header-horizontal-spacer);
}

.wrap-left {
    display: flex;
    align-items: center;

    .bars-icon {
        border: none;
        padding: 8px;
        display: flex;
        align-items: center;
        background-color: transparent;
    }

    .logo {
        padding: 18px 15px;
        margin-left: 1px;
        user-select: none;
    }
}

.wrap-right {
    display: flex;
    align-items: center;

    .action-btn {
        position: relative;
        border: none;
        background-color: transparent;
        display: flex;
        padding: 8px;
        border-radius: 100rem;
        margin-right: 8px;
        transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

        &:active {
            background-color: var(--header-action-active-color);
        }

        .badge {
            position: absolute;
            left: 20px;
            top: 4px;
            padding: 1px 4px;
            font-size: 1.2rem;
            background-color: var(--header-badge-background-color);
            border-radius: 100rem;
            color: var(--white-color);
            border: 2px solid var(--white-color);
        }
    }

    .user {
        width: 32px;
        height: 32px;
        margin: 0 14px;
        border-radius: 100rem;
        cursor: pointer;
        user-select: none;
    }
}
