.wrapper {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: var(--default-layout-header-height);
    left: 0;
    bottom: 0;
    z-index: 90;
    width: var(--sub-sidebar-width);
    margin-top: 4px;
    background-color: var(--background-white-opacity-98-color);

    .button-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px 0 14px 0;

        &:hover {
            background-color: var(--menu-item-hover-background-color);
        }

        &:active {
            background-color: var(--sidebar-item-hover-color);
        }
    }

    .icon {
        display: flex;
        margin-bottom: 6px;
    }

    .title {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4rem;
    }
}

// Mobile
@media (max-width: 46.1875em) {
    .wrapper {
        right: 0;
        top: unset;
        flex-direction: row;
        height: 48px;
        width: unset;
        align-items: center;

        .button-link {
            flex: 1;
            padding: 0;

            &:hover {
                background-color: unset;
            }

            &:active {
                background-color: unset;
            }
        }

        .icon {
            margin-bottom: 0;
        }
    }
}
