.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    margin-top: var(--default-layout-header-height);
}

.content {
    flex: 1;
    background-color: var(--general-background-color);
}

.content-sidebar {
    margin-left: var(--sidebar-width);
}

.content-sub-sidebar {
    margin-left: var(--sub-sidebar-width);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 110;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn linear 0.15s;
    display: none;
}

.show-overlay {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// Mobile
@media (max-width: 46.1875em) {
    .content {
        margin-left: 0;
    }
}
