// Home Page
.wrapper {
    display: block;
    margin-bottom: 40px;
    cursor: pointer;

    &:hover .menu-icon {
        display: flex;
    }
}

.wrap-thumbnail {
    position: relative;

    .thumbnail {
        width: 100%;
        object-fit: contain;
    }

    .time {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 4px;
        padding: 3px 4px;
        border-radius: 2px;

        font-size: 1.2rem;
        line-height: 1.2rem;
        font-weight: 500;
        letter-spacing: 0.35px;

        color: var(--white-color);
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.body {
    display: flex;
    flex: 1;

    .avatar-link {
        flex-shrink: 0;
    }

    .avatar {
        width: 36px;
        height: 36px;
        margin: 12px 12px 0 0;
        border-radius: 100rem;
    }
}

.info {
    margin-top: 12px;
    width: 100%;

    .wrap-title {
        position: relative;
        display: flex;
        padding-right: 24px;
    }

    .title {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 6px;

        max-height: 4rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .menu-icon {
        position: absolute;
        top: -9px;
        right: -12px;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;
        flex-shrink: 0;

        border-radius: 100rem;
        cursor: pointer;
        transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

        &:active {
            background-color: var(--general-active-color);
        }

        display: none;
    }

    .wrap-views,
    .wrap-name {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        line-height: 1.8rem;
        font-weight: 400;
        color: var(--text-secondary-color);
    }

    .name {
        margin-right: 4px;
        color: var(--text-secondary-color);

        max-height: 1.8rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    .tick-icon {
        display: flex;
        flex-shrink: 0;
    }

    .views {
        &::after {
            content: '•';
            margin: 0 4px;
        }
    }
}

// Explore Page
.explore-wrapper {
    display: flex;
    margin-bottom: 16px;

    .wrap-thumbnail {
        width: 246px;
        height: 138px;
        margin-right: 16px;
        flex-shrink: 0;
    }

    .thumbnail {
        height: 100%;
    }

    .info {
        margin-top: 0;
    }

    .title {
        font-size: 1.8rem;
        margin-bottom: 0;
        line-height: 2.6rem;
        font-weight: 400;
        max-height: 5.2rem;
    }

    .wrap-name,
    .wrap-views {
        display: inline-flex;
    }

    .wrap-name {
        margin-right: 8px;
    }
}

.desc {
    color: var(--text-secondary-color);
    margin: 8px 0;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;

    max-height: 3.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

// Search Page
.search-wrapper {
    display: flex;
    margin-bottom: 0;
    margin-top: 16px;

    .wrap-thumbnail {
        width: 360px;
        flex-shrink: 0;
        margin-right: 16px;
    }

    .info {
        margin-top: 0;
    }

    .title {
        margin-bottom: 0;
        line-height: 2.6rem;
        font-size: 1.8rem;
        font-weight: 400;
        max-height: 5.2rem;
    }

    .wrap-avatar {
        display: flex;
        padding: 12px 0;
    }

    .avatar {
        width: 24px;
        height: 24px;
        margin: 0 8px 0 0;
    }

    .desc {
        margin: 0;
    }
}

// Watch Page
.watch-wrapper {
    display: flex;
    margin-bottom: 0;
    margin-top: 8px;

    .wrap-thumbnail {
        width: 168px;
        flex-shrink: 0;
        margin-right: 8px;
    }

    .info {
        margin-top: 0;
    }

    .title {
        margin-bottom: 4px;
    }

    .menu-icon {
        top: 0px;
        right: 0px;
        width: 24px;
        height: 24px;
    }
}

// Mobile & Tablet
@media (max-width: 63.9375em) {
    .info {
        .menu-icon {
            display: flex;
            color: #909090;
        }
    }

    .desc {
        display: none;
    }
}

// Tablet
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    // Search product
    .search-wrapper {
        .wrap-thumbnail {
            width: 270px;
        }

        .wrap-avatar {
            padding: 6px 0;
        }
    }
}

// Mobile
@media (max-width: 46.1875em) {
    // Search product
    .search-wrapper {
        .wrap-thumbnail {
            width: 160px;
            margin-right: 12px;
        }

        .wrap-avatar {
            padding: 0;
        }

        .title {
            font-size: 1.4rem;
            line-height: 1.8rem;
            max-height: 3.6rem;
        }

        .avatar-link {
            display: none;
        }
    }
}
