.wrapper {
    --header-background-color: rgba(255, 255, 255, 0.98);

    --searchbox-box-shadow-color: #eee;
    --searchbox-border-color: #ccc;
    --searchbox-text-color: #111111;
    --searchbox-button-border-color: #d3d3d3;
    --searchbox-button-color: #f8f8f8;
    --searchbox-button-hover-border-color: #c6c6c6;
    --searchbox-button-hover-color: #f0f0f0;

    --header-action-active-color: rgba(3, 3, 3, 0.1);
    --header-badge-background-color: #c00;

    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: var(--header-background-color);
}

.inner {
    display: flex;
    justify-content: space-between;
    height: var(--default-layout-header-height);
    width: 100%;
    padding: 0 var(--default-layout-header-horizontal-spacer);
}

.wrap-left {
    display: flex;
    align-items: center;

    .bars-icon {
        border: none;
        padding: 8px;
        display: flex;
        align-items: center;
        background-color: transparent;
    }

    .logo {
        padding: 18px 15px;
        margin-left: 1px;
        user-select: none;
    }
}
