.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    background-color: var(--background-white-opacity-98-color);
}

.inner {
    display: flex;
    justify-content: space-between;
    height: var(--default-layout-header-height);
    width: 100%;
    padding: 0 var(--default-layout-header-horizontal-spacer);
}

.wrap-left {
    display: flex;
    align-items: center;

    .bars-icon {
        border: none;
        border-radius: 100rem;
        padding: 8px;
        display: flex;
        align-items: center;
        background-color: transparent;
        transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

        &:active {
            background-color: var(--general-active-color);
        }
    }

    .logo {
        padding: 18px 15px;
        margin-left: 1px;
        user-select: none;
    }
}

@media (max-width: 46.1875em) {
    .inner {
        padding: 0 2px 0 0px;
    }

    .wrap-left {
        .bars-icon {
            display: none;
        }
    }
}
