.wrapper {
    display: flex;
}

.wrap-between {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    .micro-btn {
        display: flex;
        border: none;
        border-radius: 100rem;
        padding: 8px;
        margin-left: 8px;
        background-color: var(--general-background-color);
        transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

        &:active {
            background-color: var(--general-active-color);
        }
    }
}

.search {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    height: 40px;
    max-width: 635px;

    .wrap-search {
        display: flex;
        flex: 1;
        position: relative;
        height: 100%;

        &:focus-within {
            border: 1px solid #1c62b9;
            box-shadow: inset 0 1px 2px rgb(0 0 0 / 30%);
            border-radius: 2px 0 0 2px;
        }

        &:focus-within .input {
            border: unset;
            box-shadow: unset;
            margin-left: 0;
        }

        &:focus-within .search-icon {
            display: flex;
        }
    }

    .search-icon {
        align-items: center;
        padding: 0 4px 0 10px;
        height: 100%;
        display: none;
    }

    .wrap-input {
        display: flex;
        position: relative;
        flex: 1;
        overflow: hidden;
        height: 100%;
    }

    .input {
        width: 100%;
        height: 100%;
        padding: 2px 40px 2px 6px;
        margin-left: 34px;
        border: 1px solid var(--searchbox-border-color);
        border-radius: 2px 0 0 2px;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: var(--searchbox-text-color);
        box-shadow: inset 0 1px 2px var(--searchbox-box-shadow-color);
        background-color: transparent;
    }

    .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        border-radius: 100rem;
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;
        padding: 0 10px;

        &:active {
            background-color: var(--general-active-color);
        }
    }

    .search-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--searchbox-button-border-color);
        background-color: var(--searchbox-button-color);
        border-radius: 0 2px 2px 0;
        width: 64px;
        height: 40px;
        padding: 1px 6px;
        margin-left: -1px;

        &:hover {
            border-color: var(--searchbox-button-hover-border-color);
            background-color: var(--searchbox-button-hover-color);
            box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
        }

        &:focus {
            background-color: var(--searchbox-button-focus-color);
        }
    }

    .search-result {
        background-color: var(--white-color);
    }

    .search-popper {
        padding: 16px 0 8px;
        border: 1px solid var(--searchbox-border-color);
        box-shadow: var(--search-result-item-box-shadow);
        border-top: none;
    }
}

.mobile-back-btn,
.mobile-search-btn {
    border: none;
    background-color: transparent;
    padding: 8px;
    border-radius: 100rem;
    margin-right: 8px;
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    display: none;

    &:active {
        background-color: var(--general-active-color);
    }
}

// Mobile
@media (max-width: 46.1875em) {
    .wrap-between {
        justify-content: flex-end;

        .mobile-search-btn {
            display: flex;
        }

        .micro-btn {
            margin-left: 0;
            margin-right: 8px;
            background-color: transparent;
        }

        .search {
            display: none;
        }
    }
}

.mobile-search-box {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: var(--default-layout-header-height);
    background-color: var(--white-color);
    z-index: 116;

    .mobile-search-btn {
        display: none;
    }

    .micro-btn {
        margin-left: 8px;
    }

    .search {
        display: flex;
    }

    .mobile-back-btn {
        display: flex;
        margin-left: 8px;
    }
}
