.wrapper {
    padding: 0 20px;
}

.explore-action {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-bottom: 8px;
    border-radius: 8px;

    &:hover {
        background-color: var(--general-border-color);
    }
}

.image {
    width: 32px;
    height: 32px;
    margin: 20px 20px 4px;
}

.title {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 4.8rem;
    margin: 0 20px 12px;
}

.heading {
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 500;
    margin: 24px 0;
}
