.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    margin-top: var(--default-layout-header-height);
}

.content {
    flex: 1;
    background-color: var(--general-background-color);
    min-height: 1000px;
}
